<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>

<body>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="name">Your name</label>
                                    <input type="text" id="name" name="name" class="form-control" />
                                    <span class="error" id="nameerror"></span>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="surname">Your surname</label>
                                    <input type="text" id="surname" name="surname" class="form-control" />
                                    <span class="error" id="surnameerror"></span>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="username">Your username</label>
                                    <input type="text" id="username" name="username" class="form-control" />
                                    <span class="error" id="usernameerror"></span>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="email">Your email</label>
                                    <input type="text" id="email" name="email" class="form-control" />
                                    <span class="error" id="emailerror"></span>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="password">Your password</label>
                                    <input type="password" id="password" name="password" class="form-control" />
                                    <span class="error" id="passworderror"></span>
                                </div>

                                <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-success btn-lg mb-1">Submit</button>

                                <p class="mb-4 pb-2 pb-md-0 mb-md-5 ">
                                    have your account?
                                    <a href="/login">Login</a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/signup.js"></script>
</body>

</html>